button img{
	display: inline-block;
}

div {
  height: 2.1em;
  width: 2.1em;
  background: rgba(255, 255, 240, 1.0);
  display: inline-block;
  margin: .1em;
  opacity: 1;
  z-index: 2;  
  -webkit-box-shadow: #111 0 1px 5px;  
  -moz-box-shadow: #111 0 1px 5px;  
  box-shadow: #111 0 1px 5px;  
  border-radius: 0.2em;
}